@import "tailwindcss";

/* .text-lg {
  font-size: 20px;
} */

/* .track{
  border:1px solid red;
} */

@theme {
  --color-primary: #111c85;
  --color-secondary: #ff2aaa;
}

@layer components {
  .track {
    @apply border border-red-500;
  }

  .container {
    @apply mx-auto px-3;
  }
}
